<!DOCTYPE html>
<html>
<head>
  <title>CampingsiteManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="navigation" class="container">
<%= link_to 'Campingsites', campingsites_path, class: 'btn btn-default' %>
<%= link_to 'Owners', owners_path, class: 'btn btn-default' %>
<%= link_to 'Pitches', pitches_path, class: 'btn btn-default' %>
</nav>

<div id="main-container" class="container">
<%= yield %>
</div>

</body>
</html>
